// Copyright (C) 2024 twyleg
#include "resource_loader.h"

#include <vector>
#include <unordered_map>
#include <string>
#include <fstream>

namespace ResourceLoader {

{% for resource in resources %}
extern const std::vector<unsigned char> data_{{ resource.name_hash }};
{%- endfor %}

}

namespace {

std::unordered_map<std::string, const std::vector<unsigned char>&>& getResourcesMap();

void init(){
{%- for resource in resources %}
    getResourcesMap().emplace("{{ resource.name }}", ResourceLoader::data_{{ resource.name_hash }});
{%- endfor %}
}

std::unordered_map<std::string, const std::vector<unsigned char>&>& getResourcesMap() {
    static std::unordered_map<std::string, const std::vector<unsigned char>&> resourceMap;

    static bool isInitialized = false;
    if (!isInitialized) {
        isInitialized = true;
        init();
    }

    return resourceMap;
}

}

namespace ResourceLoader {


std::string_view getResourceAsString(const std::string& resourceName){
	auto& resource = getResourcesMap().find(resourceName)->second;
	return std::string_view(reinterpret_cast<const char*>(resource.data()), resource.size());
}

const std::vector<unsigned char>& getResourceAsVector(const std::string& resourceName){
    auto& resource = getResourcesMap().find(resourceName)->second;
    return resource;
}

void saveResourceToFile(const std::string& resourceName, const std::filesystem::path& filePath){
    const auto& resource = getResourceAsVector(resourceName);
    std::ofstream outputStream(filePath, std::ios::binary);
    outputStream.write(reinterpret_cast<const char*>(resource.data()), resource.size());
}


}
