// Copyright (C) 2023 twyleg
#include "resource_loader.h"

namespace ResourceLoader {

extern const std::vector<char> data_{{ resource.filepath_hash }} = {
{%- for data_line in resource.data_lines %}
    {{ data_line }}
{%- endfor %}
};

}
